html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: rgb(255, 255, 255);
  color: #555;
  max-width: 900px;
  margin: auto;
  }
content {
    max-width: 600px;
    margin: auto;}

p
{ padding: 0 0 5px 0;
  line-height: 1.2em;
  font-size: 10px}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ color: rgb(63, 66, 241);
  letter-spacing: 0em;
  padding: 0 0 5px 0;
  }

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  font-weight: bold}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: rgb(7, 128, 226);
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color:rgb(7, 226, 226);
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: rgb(0, 50, 188);}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right;
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;}

#header
{ background: rgb(8, 200, 214) url(pattern.png) repeat;
  border-bottom: 2px solid rgb(105, 135, 146);
  height: 177px;
 }

#banner
{ background: transparent url(banner.jpg) no-repeat;
  width: 870px;
  height: 180px;
  margin-bottom: 20px;
  border: 5px solid #E7746F;}

#logo
{ width: 880px;
  position: relative;
  height: 140px;
  background: transparent;}

#logo #logo_text
{ position: absolute;
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
  color: rgb(11, 3, 117);
  letter-spacing: 0.1em;
  text-decoration: none;
  font-weight: bold}

#logo_text h1 a .logo_colour
{ color: rgb(63, 66, 241);}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #FFF;}

#menubar
{ width: 220px;
  height: 35px;
  float: right;
  list-style: none;}

ul li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block;
  float: left;
  height: 35px;
  padding: 6px 10px 10px 28px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: rgb(83, 124, 236);}

ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
  background:  rgb(14, 5, 141);}

ul li.selected a, ul#menu li.selected a:hover
{ background: rgb(14, 5, 141);
  color: #FFF;}

ul li a:hover
{ color: rgb(1, 13, 124);
  background: rgb(14, 5, 141);}

#site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;}

#sidebar_container
{ float: right;
  width: 224px;}

.sidebar_top
{ width: 222px;
  height: 14px;
  background: transparent url(side_top.png) no-repeat;}

.sidebar_base
{ width: 222px;
  height: 14px;
  background: url(side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 0;}

.sidebar_item
{ background: url(side_back.png) repeat-y;
  padding: 0 15px;
  width: 192px;}

.sidebar li a.selected
{ color: #444;}

.sidebar ul
{ margin: 0;}

#content
{ text-align: left;
  width: 620px;
  padding: 0 0 0 5px;
  float: left;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center;
  background: transparent url(pattern.png) repeat;
  border-top: 2px solid rgb(105, 135, 146);
  color: rgb(105, 135, 146);}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color:  rgb(105, 135, 146);
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.search
{ color: #5D5D5D;
  border: 1px solid #BBB;
  width: 134px;
  padding: 4px;
  font: 100% arial, sans-serif;}

form
{ margin: 15px 0 0 0;}

form div.field
{ padding: 0 0 4px 0;}

form span, form label, form select
{ float: left;
  width: 150px;
  text-align: left;}



form input, form textarea
{ padding: 5px;
  width: 200px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;}

form .submit
{ font: 100% arial;
  border: 0;
  width: 99px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #E7746F;
  color: #FFF;}

form textarea
{ font: 100% arial;
  width: 220px;
  height: 100px;}

form select
{ width: 200px;
height: 20px;}

form .checkbox
{ margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: rgb(63, 66, 241);
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}

table tr td
{ background: rgb(195, 231, 255);;
  color: rgb(63, 68, 71);
border-top: 1px solid #FFF;}

table tr:nth-child(even) td {background-color: rgb(217, 240, 255);}

table tr:hover td {background-color: rgb(188, 223, 247);}